In [ ]:
# Student Information
# Please enter your details for grading purposes:
Your_Name = "Fatemeh Taleby"

In [ ]:
# write your code here
def greet(name):
    print(f"Hello, {name}!")

In [ ]:
# write your code here
def analyze_numbers(num1, num2):
    print(f"First number: {num1}")
    print(f"Second number: {num2}")
    total = num1 + num2
    print(f"Sum: {total}")

    if total % 2 == 0:
        print("The sum is even.")
    else:
        print("The sum is odd.")

    return total

In [ ]:
# write your code here
def find_a_b(sum_xy, diff_xy):
    x = (sum_xy + diff_xy) / 2
    y = (sum_xy - diff_xy) / 2
    return x, y

In [ ]:
def calculate_discounted_price(price, discount=10, tax=5):
    print(f"Original price: ${price}")

    discount_amount = price * (discount / 100)
    price_after_discount = price - discount_amount
    print(f"Discount ({discount}%): -${discount_amount}")
    print(f"Price after discount: ${price_after_discount}")

    tax_amount = price_after_discount * (tax / 100)
    final_price = price_after_discount + tax_amount
    print(f"Tax ({tax}%): +${tax_amount}")
    print(f"Final price: ${final_price}")

    return round(final_price, 2)

# Example usage:
calculate_discounted_price(100)


Ø§ÛŒÙ† ØªØ§Ø¨Ø¹ Ù‚ÛŒÙ…Øª Ù†Ù‡Ø§ÛŒÛŒ ÛŒÚ© Ù…Ø­ØµÙˆÙ„ Ø±Ø§ Ø¨Ø¹Ø¯ Ø§Ø² Ø§Ø¹Ù…Ø§Ù„ ØªØ®ÙÛŒÙ Ùˆ Ù…Ø§Ù„ÛŒØ§Øª Ù…Ø­Ø§Ø³Ø¨Ù‡ Ù…ÛŒâ€ŒÚ©Ù†Ø¯. Ù…Ø±Ø§Ø­Ù„:

1. Ù‚ÛŒÙ…Øª Ø§ØµÙ„ÛŒ Ø±Ø§ Ú†Ø§Ù¾ Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
2. Ù…Ù‚Ø¯Ø§Ø± ØªØ®ÙÛŒÙ Ø±Ø§ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¯Ø±ØµØ¯ ÙˆØ±ÙˆØ¯ÛŒ Ù…Ø­Ø§Ø³Ø¨Ù‡ Ú©Ø±Ø¯Ù‡ Ùˆ Ø§Ø² Ù‚ÛŒÙ…Øª Ø§ØµÙ„ÛŒ Ú©Ù… Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
3. Ù‚ÛŒÙ…Øª Ù¾Ø³ Ø§Ø² ØªØ®ÙÛŒÙ Ø±Ø§ Ú†Ø§Ù¾ Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
4. Ø³Ù¾Ø³ Ù…Ø§Ù„ÛŒØ§Øª Ø±Ø§ (Ø¨Ø± Ø§Ø³Ø§Ø³ Ø¯Ø±ØµØ¯ ÙˆØ±ÙˆØ¯ÛŒ) Ø¨Ø± Ø±ÙˆÛŒ Ù‚ÛŒÙ…Øª ØªØ®ÙÛŒÙâ€ŒØ®ÙˆØ±Ø¯Ù‡ Ø§Ø¹Ù…Ø§Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ø¯.
5. Ù‚ÛŒÙ…Øª Ù†Ù‡Ø§ÛŒÛŒ Ø±Ø§ Ú†Ø§Ù¾ Ú©Ø±Ø¯Ù‡ Ùˆ Ù…Ù‚Ø¯Ø§Ø± Ù†Ù‡Ø§ÛŒÛŒ Ø±Ø§ Ø¨Ø§ Ø¯Ùˆ Ø±Ù‚Ù… Ø§Ø¹Ø´Ø§Ø± Ø¨Ø±Ù…ÛŒâ€ŒÚ¯Ø±Ø¯Ø§Ù†Ø¯.

In [ ]:
# write your code here
full_names = ["Alexander Fleming", "Elizabeth Blackwell", "Edward Jenner", "William Osler"]
first_names = list(map(lambda name: name.split()[0], full_names))
print(first_names)

In [ ]:
# write your code here
users = [
    {"name": "Ali", "age": 17, "active": True},
    {"name": "Sara", "age": 22, "active": False},
    {"name": "Reza", "age": 19, "active": True},
    {"name": "Lina", "age": 25, "active": True},
    {"name": "Mona", "age": 16, "active": True},
    {"name": "Javad", "age": 20, "active": False},
]

active_adults = list(filter(lambda user: user["age"] >= 18 and user["active"], users))
print(active_adults)

In [ ]:
while True:
    try:
        numerator = float(input("Enter the numerator: "))
        denominator = float(input("Enter the denominator: "))

        result = numerator / denominator
    except ValueError:
        print("âš ï¸ Please enter valid numeric values.")
        continue
    except ZeroDivisionError:
        print("âš ï¸ Denominator cannot be zero. Try again.")
        continue
    else:
        print(f"âœ… Result: {round(result, 3)}")
        break
    finally:
        print("ğŸ“˜ Thank you for using the divider.\n")


Ø§ÛŒÙ† Ø¨Ø±Ù†Ø§Ù…Ù‡ Ø¯Ø± ÛŒÚ© Ø­Ù„Ù‚Ù‡â€ŒÛŒ Ø¨ÛŒâ€ŒÙ†Ù‡Ø§ÛŒØª Ø§Ø² Ú©Ø§Ø±Ø¨Ø± Ù…ÛŒâ€ŒØ®ÙˆØ§Ù‡Ø¯ Ø¯Ùˆ Ø¹Ø¯Ø¯ ÙˆØ§Ø±Ø¯ Ú©Ù†Ø¯: ØµÙˆØ±Øª (numerator) Ùˆ Ù…Ø®Ø±Ø¬ (denominator).

- Ø§Ú¯Ø± Ú©Ø§Ø±Ø¨Ø± Ø¹Ø¯Ø¯ Ø§Ø´ØªØ¨Ø§Ù‡ ÛŒØ§ ØºÛŒØ±Ø¹Ø¯Ø¯ÛŒ ÙˆØ§Ø±Ø¯ Ú©Ù†Ø¯ (`ValueError`)ØŒ Ù¾ÛŒØ§Ù… Ø®Ø·Ø§ Ù…ÛŒâ€ŒÚ¯ÛŒØ±Ø¯ Ùˆ Ø¯ÙˆØ¨Ø§Ø±Ù‡ Ø§Ø² Ø§ÙˆÙ„ Ù¾Ø±Ø³ÛŒØ¯Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯.
- Ø§Ú¯Ø± Ù…Ø®Ø±Ø¬ ØµÙØ± Ø¨Ø§Ø´Ø¯ (`ZeroDivisionError`)ØŒ Ù‡Ø´Ø¯Ø§Ø± Ù…ÛŒâ€ŒØ¯Ù‡Ø¯ Ú©Ù‡ ØªÙ‚Ø³ÛŒÙ… Ø¨Ø± ØµÙØ± Ù…Ø¬Ø§Ø² Ù†ÛŒØ³Øª Ùˆ Ø¯ÙˆØ¨Ø§Ø±Ù‡ Ø³ÙˆØ§Ù„ Ù…ÛŒâ€ŒÙ¾Ø±Ø³Ø¯.
- Ø§Ú¯Ø± Ù‡ÛŒÚ† Ø®Ø·Ø§ÛŒÛŒ Ù†Ø¨Ø§Ø´Ø¯ØŒ Ù†ØªÛŒØ¬Ù‡â€ŒÛŒ ØªÙ‚Ø³ÛŒÙ… Ù†Ù…Ø§ÛŒØ´ Ø¯Ø§Ø¯Ù‡ Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ùˆ Ø­Ù„Ù‚Ù‡ Ù…ØªÙˆÙ‚Ù Ù…ÛŒâ€ŒØ´ÙˆØ¯.
- Ø¯Ø± Ø§Ù†ØªÙ‡Ø§ÛŒ Ù‡Ø± ØªÚ©Ø±Ø§Ø±ØŒ Ú†Ù‡ Ù…ÙˆÙÙ‚ Ùˆ Ú†Ù‡ Ø¨Ø§ Ø®Ø·Ø§ØŒ Ù¾ÛŒØºØ§Ù… "Thank you for using the divider." Ú†Ø§Ù¾ Ù…ÛŒâ€ŒØ´ÙˆØ¯.